<html>
<head>
    <script src="/webjars/jquery/3.1.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
    <title>Order list</title>
    <link rel="stylesheet"
          href="/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css"/>
    <script crossorigin="anonymous" src="../../static/js/main.js" th:src="@{/js/main.js}"
            type="text/javascript"></script>
</head>
<body>
<div class="container"><br/>
    <p>Go to <a th:href="@{/}">homepage</a></p>
    <h2>Orders list</h2>
    <table class="table table-bordered table-hover"
           data-row-style="rowStyle" id="order-table">
        <thead>
        <tr>
            <th> Creation date</th>
            <th> Name</th>
            <th> Tacos</th>
            <th> Status</th>
            <th sec:authorize="hasAuthority('ADMIN')"> Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${orders.empty}">
            <td colspan="2"> No tacos</td>
        </tr>
        <tr th:each="order : ${orders}"
            th:style="${#strings.toString(order.status)} == 'DONE' ? 'background: #b6d480;' : 'background: #f0f0f2;'">
            <td><span th:text="${order.placedAt}"> Creation date </span></td>
            <td><span th:text="${order.name}"> Title </span></td>
            <td><span style="white-space: pre-wrap" th:text="${order.tacos}"> Title </span></td>
            <td><span th:text="${order.status}"> Status </span></td>
            <td sec:authorize="hasAuthority('ADMIN')">
                <a class="btn btn-primary eBtn" th:href="@{/admin/findOne(id=${order.id})}">
                Edit</a>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="row" th:fragment="pagination">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <nav aria-label="Pagination">
                <ul class="pagination justify-content-center">
                    <li class="page-item" th:each="pageNumber : ${pageNumbers}">
                        <a class="page-link" th:href="@{|/admin/orders/${pageNumber}|}" th:text=${pageNumber}>1</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col-md-2"></div>
    </div>
    <div class="editOrderForm">
        <form action="#" method="post" th:action="@{/admin/orders/update}" th:object="${order}">
            <div aria-hidden="true" aria-labelledby="editOrderModalLabel" class="modal fade"
                 id="editOrderModal" role="dialog"
                 tabindex="-1">
                <div class="modal-dialog modal-sm" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="editOrderModalLabel">Update</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label class="col-form-label" for="id">ID:</label>
                                <input class="form-control" id="id" name="id" type="text" value="" readonly/>
                            </div>
                            <div class="form-group">
                                <label class="col-form-label" for="name">Name:</label>
                                <input class="form-control" id="name" name="name" type="text" value="" readonly/>
                            </div>
                            <div>
                                <label class="col-form-label" for="status">Status:</label>
                                <select class="form-control" id="status" name="status">
                                    <div>
                                        <option th:each="status : ${statuses}"
                                                th:value="${status}"
                                                th:text="${status}">
                                        </option>
                                    </div>
                                </select>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <input class="btn btn-primary" type="submit" value="Save"/>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>