<!DOCTYPE html> <html
        xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="/webjars/jquery/3.1.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
    <link rel="stylesheet"
          href="/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css" />

    <title>Taco Cloud</title>
</head>
<body>
<h1>Login</h1>
<img th:src="@{/images/TacoCloud.png}"/>

<p>New here? Click
    <a th:href="@{/register}">here</a> to register.</p>

<!-- tag::thAction[] -->
<form method="POST" th:action="@{/login}">
    <!-- end::thAction[] -->
    <label for="username">Username: </label>
    <input type="text" name="username"/><br/>

    <label for="password">Password: </label>
    <input type="password" name="password"/><br/>

    <div th:if="${param.error}">
        <div class="alert alert-danger" role="alert">
            Unable to login. Check your username and password.
        </div>
    </div>

    <input type="submit" value="Login"/>
</form>
</body>
</html>