<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Taco Cloud</title>
    <link rel="stylesheet" th:href="@{/styles.css}" />
    <script src="/webjars/jquery/3.1.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
    <title>Order list</title>
    <link rel="stylesheet"
          href="/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css"/>
</head>

<body>

<form method="POST" th:action="@{/orders}" th:object="${order}">
    <h1>Order your taco creations!</h1>

    <img th:src="@{/images/TacoCloud.png}"/><br/>
    <a th:href="@{/design}" id="another">Design another taco</a><br/>
    <a th:href="@{/tacos}" id="another-existing">Reorder taco</a><br/>


    <div th:if="${#fields.hasErrors()}">
        <span class="validationError">
        Please correct the problems below and resubmit.
        </span>
    </div>

    <h3>Deliver my taco masterpieces to...</h3>
    <label for="name">Name: </label>
    <input type="text" th:field="*{name}"/>
    <!-- end::allButValidation[] -->
    <span class="validationError"
          th:if="${#fields.hasErrors('name')}"
          th:errors="*{name}">Name Error</span>
    <!-- tag::allButValidation[] -->
    <br/>

    <label for="street">Street address: </label>
    <input type="text" th:field="*{street}"/>
    <!-- end::allButValidation[] -->
    <span class="validationError"
          th:if="${#fields.hasErrors('street')}"
          th:errors="*{street}">Street Error</span>
    <!-- tag::allButValidation[] -->
    <br/>

    <label for="city">City: </label>
    <input type="text" th:field="*{city}"/>
    <!-- end::allButValidation[] -->
    <span class="validationError"
          th:if="${#fields.hasErrors('city')}"
          th:errors="*{city}">City Error</span>
    <!-- tag::allButValidation[] -->
    <br/>

    <label for="state">State: </label>
    <input type="text" th:field="*{state}"/>
    <!-- end::allButValidation[] -->
    <span class="validationError"
          th:if="${#fields.hasErrors('state')}"
          th:errors="*{state}">State Error</span>
    <!-- tag::allButValidation[] -->
    <br/>

    <label for="zip">Zip code: </label>
    <input type="text" th:field="*{zip}"/>
    <!-- end::allButValidation[] -->
    <span class="validationError"
          th:if="${#fields.hasErrors('zip')}"
          th:errors="*{zip}">Zip Error</span>
    <!-- tag::allButValidation[] -->
    <br/>

    <h3>Here's how I'll pay...</h3>
    <!-- tag::validatedField[] -->
    <label for="ccNumber">Credit Card #: </label>
    <input type="text" th:field="*{ccNumber}"/>
    <!-- end::allButValidation[] -->
    <span class="validationError"
          th:if="${#fields.hasErrors('ccNumber')}"
          th:errors="*{ccNumber}">CC Num Error</span>
    <!-- tag::allButValidation[] -->
    <!-- end::validatedField[] -->
    <br/>

    <label for="ccExpiration">Expiration: </label>
    <input type="text" th:field="*{ccExpiration}"/>
    <!-- end::allButValidation[] -->
    <span class="validationError"
          th:if="${#fields.hasErrors('ccExpiration')}"
          th:errors="*{ccExpiration}">CC Num Error</span>
    <!-- tag::allButValidation[] -->
    <br/>

    <label for="ccCVV">CVV: </label>
    <input type="text" th:field="*{ccCVV}"/>
    <!-- end::allButValidation[] -->
    <span class="validationError"
          th:if="${#fields.hasErrors('ccCVV')}"
          th:errors="*{ccCVV}">CC Num Error</span>
    <!-- tag::allButValidation[] -->
    <br/>

    <input type="submit" value="Submit order"/>
</form>
<div class="myForm">
    <form action="#" method="POST" th:object="${design}">
        <div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade"
             id="exampleModal" role="dialog"
             tabindex="-1">
            <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Update</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <table class="table table-bordered table-hover"
                               data-row-style="rowStyle" id="thetable">
                            <thead>
                            <tr>
                                <th> Name</th>
                                <th> Ingredients</th>
                                <th sec:authorize="hasAuthority('ADMIN')"> Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="taco : ${tacos}">
                                <td><span th:text="${taco.name}"> Title </span></td>
                                <td><span th:text="${taco.name}"></span> :
                                    <span th:each="ingredient : ${taco.ingredients}">
                                    <span th:text="${ingredient.name}">INGREDIENT</span>,
                                    </span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <input class="btn btn-primary" type="submit" value="Save"/>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

</body>
</html>